.title-bar {
    color: white !important;
    background-color: #000829;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
padding:20px;
align-items:'center'
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

